{% extends 'gcna/base2.html' %}

{% block content%}




<script>
    document.addEventListener('DOMContentLoaded', function() {
        var myForm = document.getElementById('myForm');
    
        myForm.addEventListener('submit', function(event) {
  
            event.preventDefault();
            var data = new FormData(event.target);
            saveDataToIndexedDB(data);
        });
    
        function saveDataToIndexedDB(data) {
            var request = indexedDB.open('GCNA', 2);
        
            request.onsuccess = function(event) {
                var db = event.target.result;
                var transaction = db.transaction('Sanitation-A', 'readwrite');
                var objectStore = transaction.objectStore('Sanitation-A');
            
                var obj = {};
                for (var pair of data.entries()) {
                    obj[pair[0]] = pair[1];
                }
        
                // Get the highest id in the object store
                var highestIdRequest = objectStore.openCursor(null, 'prev');
                highestIdRequest.onsuccess = function(event) {
                    var cursor = event.target.result;
                    if (cursor) {
                        obj.id = cursor.key + 1;
                    } else {
                        obj.id = 1; // This is the first item
                    }
        
                    var request = objectStore.put(obj);
        
                    request.onsuccess = function() {
                        console.log('Data added to IndexedDB');
                        window.location.href = '/gcna00_2/';
  
                    };
        
                    request.onerror = function() {
                        console.error('Error adding data to IndexedDB');
                    };
                };
            };
        
            request.onerror = function(event) {
                console.error('Error opening IndexedDB', event);
            };
        }
        
    });
    </script>
  
  

    <style>
        /* Add border outline to table entries */
        table {
            border-collapse: collapse;
            border: 1px solid black;
        }
    
        th, td {
            border: 1px solid black; /* Change border color to black */
            padding: 8px;
            text-align: center;
            vertical-align: middle;
        }
    
        /* Rotate rowspan text to fit in the column */
        td.rotated {
            transform: rotate(-90deg);
            white-space: nowrap;
        }
    </style>
    
    
    
    
    <form id="myForm" style="
    background-color: #e4e4e4;
    margin: 1px auto;
    font-family: Raleway;
    padding: 10px;
    width: 95%;
    min-width: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
    overflow: auto; /* Add overflow property for scrolling */
    max-height: 600px; /* Set maximum height for the form */
">
    
        <div class="card">
            <div class="card-body">
                <h5></h5>
                <p class="card-text">Test</p>
                <h6>Document No. GCNA-R-02</h6>
                <h6>Document Title: Moisture Analysis in Floated Nutmeg</h6>
                <h6>Date Issued: 2023-07-03</h6>
                <h6>Version: 1</h6>
                <h5>Section B</h5>
                {% csrf_token %}
                <h4>Corrective Action for Floating Nutmeg Above 10% Moisture Content</h4>
    
                <table id="vertical-1" class="table table-hover table-light">
                    <thead>
                        <tr>
                            <th colspan="3" class="main-header" style="text-align:center;">Station Name:</th>
                            <th colspan="3" class="main-header" style="text-align:center;">{{form.Station}}</th>
                            <th colspan="3" class="main-header" style="text-align:center;">Period</th>
                            <th colspan="3" class="main-header" style="text-align:center;">{{form.Period}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <!-- Content goes here -->
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th colspan="1" class="main-header" style="text-align:center;">Area</th>
                            <th colspan="1" class="main-header" style="text-align:center;">Item No:</th>
                            <th colspan="1" class="main-header" style="text-align:center;">Facility Area:</th>
                            <th colspan="1" class="main-header" style="text-align:center;">Frequency:</th>
                            <th colspan="1" class="main-header" style="text-align:center;">Method:</th>
                            <th colspan="1" class="main-header" style="text-align:center;">Person responsible:</th>
                            <th colspan="1" class="main-header" style="text-align:center;">WK 1</th>
                            <th colspan="1" class="main-header" style="text-align:center;">WK 2</th>
                            <th colspan="1" class="main-header" style="text-align:center;">WK 3</th>
                            <th colspan="1" class="main-header" style="text-align:center;">WK 4</th>
                            <th colspan="1" class="main-header" style="text-align:center;">WK 5</th>
                            <th colspan="1" class="main-header" style="text-align:center;">Signature:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="3" colspan="1" style="text-align: center; vertical-align: middle;">
                                <div style="transform: rotate(-90deg); display: inline-block;">External Premisies</div>
                            </td>
                            
                            <td colspan="1">1</td>
                            <td colspan="1">Ceiling</td>
                            <td colspan="1">Weekly</td>
                            <td colspan="1">Dry method</td>
                            <td colspan="1">Sanitation Officer</td>
                            <td colspan="1">{{form.Ceiling_week_1}}</td>
                            <td colspan="1">{{form.Ceiling_week_2}}</td>
                            <td colspan="1">{{form.Ceiling_week_3}}</td>
                            <td colspan="1">{{form.Ceiling_week_4}}</td>
                            <td colspan="1">{{form.Ceiling_week_5}}</td>
                            <td colspan="1">{{form.Ceiling_signature}}</td>
                        </tr>
                        <tr>
                            <td colspan="1">2</td>
                            <td colspan="1">Windows</td>
                            <td colspan="1">Weekly</td>
                            <td colspan="1">Dry method</td>
                            <td colspan="1">Sanitation Officer</td>
                            <td colspan="1">{{form.Windows_week_1}}</td>
                            <td colspan="1">{{form.Windows_week_2}}</td>
                            <td colspan="1">{{form.Windows_week_3}}</td>
                            <td colspan="1">{{form.Windows_week_4}}</td>
                            <td colspan="1">{{form.Windows_week_5}}</td>
                            <td colspan="1">{{form.Windows_signature}}</td>
                        </tr>
                        <tr>
                            <td colspan="1">3</td>
                            <td colspan="1">Screens</td>
                            <td colspan="1">Weekly</td>
                            <td colspan="1">Dry method</td>
                            <td colspan="1">Sanitation Officer</td>
                            <td colspan="1">{{form.Screens_week_1}}</td>
                            <td colspan="1">{{form.Screens_week_2}}</td>
                            <td colspan="1">{{form.Screens_week_3}}</td>
                            <td colspan="1">{{form.Screens_week_4}}</td>
                            <td colspan="1">{{form.Screens_week_5}}</td>
                            <td colspan="1">{{form.Screens_signature}}</td>
                        </tr>
                        <tr>
                            <td rowspan="7" colspan="1" style="text-align: center; vertical-align: middle;">
                                <div style="transform: rotate(-90deg); display: inline-block;">Equipment</div>
                            </td>
                            <td colspan="1">4</td>
                            <td colspan="1">Grinder</td>
                            <td colspan="1">Weekly</td>
                            <td colspan="1">Dry method</td>
                            <td colspan="1">Line Operator</td>
                            <td colspan="1">{{form.Grinder_week_1}}</td>
                            <td colspan="1">{{form.Grinder_week_2}}</td>
                            <td colspan="1">{{form.Grinder_week_3}}</td>
                            <td colspan="1">{{form.Grinder_week_4}}</td>
                            <td colspan="1">{{form.Grinder_week_5}}</td>
                            <td colspan="1">{{form.Grinder_signature}}</td>
                        </tr>
                        <tr>
                            <td colspan="1">5</td>
                            <td colspan="1">Winnower</td>
                            <td colspan="1">Weekly</td>
                            <td colspan="1">Dry method</td>
                            <td colspan="1">Line Operator</td>
                            <td colspan="1">{{form.Winnower_week_1}}</td>
                            <td colspan="1">{{form.Winnower_week_2}}</td>
                            <td colspan="1">{{form.Winnower_week_3}}</td>
                            <td colspan="1">{{form.Winnower_week_4}}</td>
                            <td colspan="1">{{form.Winnower_week_5}}</td>
                            <td colspan="1">{{form.Winnower_signature}}</td>
                        </tr>
                        <tr>
                            <td colspan="1">6</td>
                            <td colspan="1">Sinks</td>
                            <td colspan="1">Weekly</td>
                            <td colspan="1">Dry method</td>
                            <td colspan="1">Line Operator</td>
                            <td colspan="1">{{form.Sinks_week_1}}</td>
                            <td colspan="1">{{form.Sinks_week_2}}</td>
                            <td colspan="1">{{form.Sinks_week_3}}</td>
                            <td colspan="1">{{form.Sinks_week_4}}</td>
                            <td colspan="1">{{form.Sinks_week_5}}</td>
                            <td colspan="1">{{form.Sinks_signature}}</td>
                        </tr>
                        <tr>
                            <td colspan="1">7</td>
                            <td colspan="1">Scales</td>
                            <td colspan="1">Weekly</td>
                            <td colspan="1">Dry method</td>
                            <td colspan="1">Line Operator</td>
                            <td colspan="1">{{form.Scales_week_1}}</td>
                            <td colspan="1">{{form.Scales_week_2}}</td>
                            <td colspan="1">{{form.Scales_week_3}}</td>
                            <td colspan="1">{{form.Scales_week_4}}</td>
                            <td colspan="1">{{form.Scales_week_5}}</td>
                            <td colspan="1">{{form.Scales_signature}}</td>
                        </tr>
    
    
    
    
                        <tr>
                            <td colspan="1">8</td>
                            <td colspan="1">Hoist</td>
                            <td colspan="1">Weekly</td>
                            <td colspan="1">Dry method</td>
                            <td colspan="1">Line Operator</td>
                            <td colspan="1">{{form.Hoist_week_1}}</td>
                            <td colspan="1">{{form.Hoist_week_2}}</td>
                            <td colspan="1">{{form.Hoist_week_3}}</td>
                            <td colspan="1">{{form.Hoist_week_4}}</td>
                            <td colspan="1">{{form.Hoist_week_5}}</td>
                            <td colspan="1">{{form.Hoist_signature}}</td>
                        </tr>
    
                        <tr>
                            <td colspan="1">9</td>
                            <td colspan="1">Drying Racks</td>
                            <td colspan="1">Weekly</td>
                            <td colspan="1">Dry method</td>
                            <td colspan="1">Line Operator</td>
                            <td colspan="1">{{form.Drying_Racks_week_1}}</td>
                            <td colspan="1">{{form.Drying_Racks_week_2}}</td>
                            <td colspan="1">{{form.Drying_Racks_week_3}}</td>
                            <td colspan="1">{{form.Drying_Racks_week_4}}</td>
                            <td colspan="1">{{form.Drying_Racks_week_5}}</td>
                            <td colspan="1">{{form.Drying_Racks_signature}}</td>
                        </tr>
    
    
    
                        <tr>
                            <td colspan="1">10</td>
                            <td colspan="1">Shining Cloths</td>
                            <td colspan="1">Weekly</td>
                            <td colspan="1">Dry method</td>
                            <td colspan="1">Line Operator</td>
                            <td colspan="1">{{form.Shining_Cloths_week_1}}</td>
                            <td colspan="1">{{form.Shining_Cloths_week_2}}</td>
                            <td colspan="1">{{form.Shining_Cloths_week_3}}</td>
                            <td colspan="1">{{form.Shining_Cloths_week_4}}</td>
                            <td colspan="1">{{form.Shining_Cloths_week_5}}</td>
                            <td colspan="1">{{form.Shining_Cloths_signature}}</td>
                        </tr>
    
                        <tr>
    
    
                            <td rowspan="6" colspan="1" style="text-align: center; vertical-align: middle;">
                                <div style="transform: rotate(-90deg); display: inline-block;">Internal Premises</div>
                            </td>
                            <td colspan="1">11</td>
                            <td colspan="1">Stencil Room</td>
                            <td colspan="1">Weekly</td>
                            <td colspan="1">Dry method</td>
                            <td colspan="1">Sanitation Officer</td>
                            <td colspan="1">{{form.Stencil_Room_week_1}}</td>
                            <td colspan="1">{{form.Stencil_Room_week_2}}</td>
                            <td colspan="1">{{form.Stencil_Room_week_3}}</td>
                            <td colspan="1">{{form.Stencil_Room_week_4}}</td>
                            <td colspan="1">{{form.Stencil_Room_week_5}}</td>
                            <td colspan="1">{{form.Stencil_Room_signature}}</td>
                        </tr>
    
    
    
    
    
    
                        <tr>
                            <td colspan="1">12</td>
                            <td colspan="1">Packaging Store Room</td>
                            <td colspan="1">Weekly</td>
                            <td colspan="1">Dry method</td>
                            <td colspan="1">Line Operator</td>
                            <td colspan="1">{{form.Packaging_Store_Room_week_1}}</td>
                            <td colspan="1">{{form.Packaging_Store_Room_week_2}}</td>
                            <td colspan="1">{{form.Packaging_Store_Room_week_3}}</td>
                            <td colspan="1">{{form.Packaging_Store_Room_week_4}}</td>
                            <td colspan="1">{{form.Packaging_Store_Room_week_5}}</td>
                            <td colspan="1">{{form.Packaging_Store_Room_signature}}</td>
                        </tr>
    
    
    
    
                        <tr>
                            <td colspan="1">13</td>
                            <td colspan="1">Fumigation Room</td>
                            <td colspan="1">Weekly</td>
                            <td colspan="1">Dry method</td>
                            <td colspan="1">Line Operator</td>
                            <td colspan="1">{{form.Fumigation_Room_week_1}}</td>
                            <td colspan="1">{{form.Fumigation_Room_week_2}}</td>
                            <td colspan="1">{{form.Fumigation_Room_week_3}}</td>
                            <td colspan="1">{{form.Fumigation_Room_week_4}}</td>
                            <td colspan="1">{{form.Fumigation_Room_week_5}}</td>
                            <td colspan="1">{{form.Fumigation_Room_signature}}</td>
                        </tr>
    
    
    
    
    
    
    
                        <tr>
                            <td colspan="1">14</td>
                            <td colspan="1">Immersion Room </td>
                            <td colspan="1">Weekly</td>
                            <td colspan="1">Scrub</td>
                            <td colspan="1">Line Operator</td>
                            <td colspan="1">{{form.Immersion_Room_week_1}}</td>
                            <td colspan="1">{{form.Immersion_Room_week_2}}</td>
                            <td colspan="1">{{form.Immersion_Room_week_3}}</td>
                            <td colspan="1">{{form.Immersion_Room_week_4}}</td>
                            <td colspan="1">{{form.Immersion_Room_week_5}}</td>
                            <td colspan="1">{{form.Immersion_Room_signature}}</td>
                        </tr>
    
    
                        <tr>
                            <td colspan="1">15</td>
                            <td colspan="1">Chambers</td>
                            <td colspan="1">Weekly</td>
                            <td colspan="1">Scrub</td>
                            <td colspan="1">Line Operator</td>
                            <td colspan="1">{{form.Chambers_week_1}}</td>
                            <td colspan="1">{{form.Chambers_week_2}}</td>
                            <td colspan="1">{{form.Chambers_week_3}}</td>
                            <td colspan="1">{{form.Chambers_week_4}}</td>
                            <td colspan="1">{{form.Chambers_week_5}}</td>
                            <td colspan="1">{{form.Chambers_signature}}</td>
                        </tr>
    
    
    
                        <tr>
                            <td colspan="1">16</td>
                            <td colspan="1">Tourist Shop(GPS)</td>
                            <td colspan="1">Weekly</td>
                            <td colspan="1">Scrub</td>
                            <td colspan="1">Sanitation</td>
                            <td colspan="1">{{form.Tourist_Shop_week_1}}</td>
                            <td colspan="1">{{form.Tourist_Shop_week_2}}</td>
                            <td colspan="1">{{form.Tourist_Shop_week_3}}</td>
                            <td colspan="1">{{form.Tourist_Shop_week_4}}</td>
                            <td colspan="1">{{form.Tourist_Shop_week_5}}</td>
                            <td colspan="1">{{form.Tourist_Shop_signature}}</td>
                        </tr>
    
                      
                    </tbody>
    
                    <thead>
        
                        <tr>
                            <th colspan="3" class="main-header" style="text-align:center;">Verified By:</th>
                            <th colspan="3" class="main-header" style="text-align:center;">{{form.Verified_by}}</th>
                            <th colspan="3" class="main-header" style="text-align:center;">Date</th>
                            <th colspan="3" class="main-header" style="text-align:center;">{{form.Date}}</th>
                        </tr>
        
                    <thead/>
                    <tbody>
                    <th colspan="12"><input type="submit" name="" value="✔" class="btn btn-success btn-circle btn-xl"></th>
                   <tbody/>
        
                </table>
            </div>
        </div>
    
    </form>
    

	</center>
{{ form.media }}

{% endblock %}
