<!-- report_template.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Monthly Report</title>
</head>
<body>
    <h1>Monthly Report</h1>

    <p>Total Average Last Month: {{ total_average_last_month }}</p>
    <p>Total Average Previous Month: {{ total_average_previous_month }}</p>

    <!-- Display sums for specific fields -->
    <p>Total Weight Last Month: {{ total_weight_last_month }}</p>
    <p>Initial Sample Weight Last Month: {{ initial_sample_weight_last_month }}</p>
    <p>Insect Damaged Last Month: {{ insect_damaged_last_month }}</p>
    <p>Broken Last Month: {{ broken_last_month }}</p>
    <p>Mould Last Month: {{ mould_last_month }}</p>
    <p>Final Sample Weight Last Month: {{ final_sample_weight_last_month }}</p>

</body>
</html>
